
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f1f7fd;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  .section-title p {
    margin-bottom: 0;
  }
  
/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  .gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
  }
  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  }
  
/*--------------------------------------------------------------
# Spliting experimental
--------------------------------------------------------------*/
  .split {
    height: 80%;
    position: fixed;
    z-index: 1;
    top: 10;
    /* will mess with this  */
    /* overflow-wrap: normal;
    overflow: inherit; */
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    width: 80%;
    overflow-x: scroll;
  }
  
  .right {
     
    right: 0;
    width: 20%;
    padding:10px;
    z-index: -10;

  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  